@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --blue: hsl(233, 54%, 16%);
  --light-blue: hsl(234, 25%, 52%);
  --grey: hsl(232, 10%, 56%);
  --hot-pink: hsl(341, 92%, 62%);
  --light-pink: hsl(341, 100%, 83%);

  --grad-1: linear-gradient(180deg, rgba(255,111,72,1) 0%, rgba(240,42,166,1) 100%);
  --grad-2: linear-gradient(180deg, rgba(72,81,255,1) 0%, rgba(240,42,166,1) 100%);;

  --ff-main: "Plus Jakarta Sans", sans-serif;
  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-reg: 400;

  --site-margin: clamp(1rem, -1.095rem + 10.476vw, 12rem);
  /* 320px - 2000px */
}

/* CSS Reset: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 
================
Main CSS
================
*/

html {
  font-family: var(--ff-main);
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  background-image: linear-gradient(180deg, rgba(255,255,255,1) 67%, rgba(240,241,255,1) 80%);;
}

@media only screen and (min-width: 540px) {
  body {
    gap: 3rem;
    padding-top: 3rem;
  }
}

header,
main,
section {
  margin: 0 var(--site-margin);
}

@media only screen and (min-width: 540px) {
  main {
    margin: 0;
    margin-left: var(--site-margin);
  }
}

header {
  display: flex;
  justify-content: space-between;
}

header .btn {
  background-color: var(--blue);
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .btn {
  background-image: var(--grad-1);
}

@media only screen and (min-width: 540px) {
  main {
    position: relative;
    padding: 3rem 0;
  }

  main::after {
    position: absolute;
    content: "";
    z-index: -1;
    background-image: url("assets/image-hero-tablet.png");
    background-size: 100% 100%;
    display: inline-block;

    top: -7rem;
    right: -13rem;
    height: 30rem;
    width: 30rem;
  }

  main h1 {
    max-width: 12ch;
  }

  main p {
    max-width: 25ch;
  }

  main .header__hero {
    display: none;
  }
}

@media only screen and (min-width: 850px) {
  main::after {
    position: absolute;
    content: "";
    z-index: -1;
    background-image: url("assets/image-hero-tablet.png");
    background-size: 100% 100%;
    display: inline-block;

    top: -12rem;
    right: -13rem;
    height: 40rem;
    width: 40rem;
  }

  main h1 {
    max-width: 12ch;
  }

  main p {
    max-width: 35ch;
  }
}

@media only screen and (min-width: 1800px) {
  main::after {
    position: absolute;
    content: "";
    z-index: -1;
    background-image: url("assets/image-hero-tablet.png");
    background-size: 100% 100%;
    display: inline-block;

    top: -17rem;
    right: -13rem;
    height: 50rem;
    width: 50rem;
  }
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (min-width: 540px) {
  .card-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 850px) {
  .card-group {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1500px) {
  .card-group {
    gap: 2rem;    
  }
}


.card-group__head {
  border-radius: 1rem;
  padding: 1rem;
  background-image: var(--grad-1);
}

@media only screen and (min-width: 540px) {
  .card-group__head {
    padding: 4rem 1.5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}

@media only screen and (min-width: 540px) {
  .card {
    gap: 1rem;
  }
}

.card img {
  align-self: start;
}

section a {
  align-self: start;
  font-weight: var(--fw-bold);
  color: var(--hot-pink);
  text-decoration: none;
}

footer {
  margin-top: 5rem;

  display: flex;
  justify-content: space-between;
  padding: 3rem var(--site-margin);
  background-color: var(--blue);
}

footer .btn {
  background-image: var(--grad-2);
}

/* 
================
Helper Classes
================
*/

.btn {
  align-self: start;
  color: #fff;
  padding: .7rem 1.5rem;
  border: none;
  border-radius: 2rem;
}

.btn:hover,
.btn-a:hover {
  cursor: pointer;
  opacity: 75%;
}

.logo-wrapper {
  align-self: center;
}

.logo:hover {
  cursor: pointer;
}

.logo {
  max-height: 2rem;
}

.header-l {
  color: var(--blue);
  font-size: clamp(2.2rem, 1.686rem + 2.571vw, 4rem);
  font-weight: var(--fw-extra-bold);
  line-height: clamp(2.4rem, 1.886rem + 2.571vw, 4.2rem);
}

@media only screen and (min-width: 540px) and (max-width: 594px) {
  .header-l {
    font-size: 2.4rem;
  }
}

.header-m {
  color: #fff;
}

.header-s {
  color: var(--blue);
}

.body-m {
  color: var(--grey);
}

.body-s {
  color: var(--grey)
}